:root {
    --body-background-color: lightblue;
  }
  body {
    background-color: var(--body-background-color);
  }
  .modal-body {
    background-color: var(--body-background-color);
  }
  .modal-body label {
    font-weight: bold;
  }
  ul {
    list-style-type: none;
}

  .delete-btn {
    cursor: pointer ;
  }

  .delete-btn:hover {
    opacity: 0.5;
  }

  